/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding:0px 7px;
    padding-bottom: 8px;
}
/* home2 */
#home2{
    height: 380px;
    /* padding: 3px 68px; */
}
#home2::before{
    height: 480px;
}


/* home */
#home{
    max-width:none;
    margin: auto;
}
#home .item2{
    padding: 6px 0px;
    /* flex-direction: column; */
}
#home > ul{
    flex-direction: column;
}
.para{
    margin: 2px 0px;
}
#home p{
    font-size: 13px;
}
#home h1{
    font-size: 26px;
}

/* services */
#services{
    flex-direction: column;
    margin: 14px 0px;
}
#services .box{
    /* background-color: brown; */
    margin: 2px 8px;
    padding: 10px;
    margin-bottom: 20px;
}
#services .box img{
    width: 250px;
}
/* About Us */
.clientItem img{
    height: 50px;
}

/* utility */
.list{
    font-size: 10px;
    margin: 0px 0px 18px;
    color: rgb(156, 156, 156);
}